<app-pokemon-list></app-pokemon-list>
<router-outlet></router-outlet>
<h1 [innerHtml]="title"></h1>
<img [src]="imgSrc" />
<div>
    <input [(ngModel)]="favoriteAnimal" />
    <p>{{favoriteAnimal}}</p>
</div>
<div>
    <input type="text" #pokemonName />
    <button (click)="handleClick(pokemonName)">Click Template Ref Value</button>
</div>
<div>
    
    <input type="text" [value]="pokemonName2" (input)="handleChange($event)" />
    <p>{{ pokemonName2 }}</p>
</div>
<!-- <div *ngIf="!pokemonName2">
    No search results found...
</div> -->

<ng-container *ngIf="pokemonName2.length; then pokemon2List; else noPokemon2">
</ng-container>


<ng-template #pokemon2List>
    <h1>All pokemon2 available</h1>
    ...
</ng-template>

<ng-template #noPokemon2>
    <h1>No pokemon2 available.</h1>
</ng-template>

<table>
    <thead>
        <th>Name</th>
        <th>Index</th>
        <th>Type</th>
    </thead>
    <tbody>
      <tr
      *ngFor="let pokemon of pokemons" >
        <td [class.active-bool]="pokemon.isActive">{{pokemon.id}}</td>
        <td>{{pokemon.name}}</td>
        <td>{{pokemon.type}}</td>
     </tr>
    </tbody>
</table>

<table>
    <thead>
        <th>Name</th>
        <th>Index</th>
        <th>Type</th>
    </thead>
    <tbody>
      <tr
      *ngFor="let pokemon of pokemons" >
        <td [ngClass]="{'active-bool' : pokemon.isActive == false}">{{pokemon.id}}</td>
        <td>{{pokemon.name}}</td>
        <td>{{pokemon.type}}</td>
     </tr>
    </tbody>
</table>